/* RESET */
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}


/* COMMON */
.container {
    width: 70%;
    margin: auto;
}

.col-container-bgwhite {
    background-color: white;
}

.col-container-bggrey {
    background-color: #d3d3d3;
}

.col-container-bgblack {
    background-color: black;
    color: white;
}

/* HEADER */
.header-top {
    display:flex;
    background-color:#daa521 ;
    margin: 15px;
}

.logo,
nav,
.login {
    /* TEST */
    border: 1px dotted black;
    padding: 10px;
}

/* Logo */
.logo {
    width: 20%; 
}

/* Nav */
nav {
    width: 60%;

}

.menu {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.menu li {
    padding: 0 10px;
}

.menu li a {
    text-decoration: none;
    color: inherit;
}

/* Login */
.login {
    width: 20%;
    text-align: right;
}

.header-bottom {
    display:flex;
    background-color:#02008b ;
    /* TEST */
    height: 600px;
}

.jumbotron {
    width: 50%;
    margin:auto;
    border: 1px dotted black;
    background-color:#ee82ee ;
    height: 450px;
}
  
/* PAGE CENTRAL CONTENT */
.col-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px auto 50px;
    padding: 60px 0;  
}

.col-large {
    width: 40%;
    background-color:#1d91ff ;
    border: 1px dotted black;
    /* TEST */
    height: 600px;
}

.col-tight {
    width: 30%;
    background-color: #FEC1CB;
    border: 1px dotted black;
    /* TEST */
    height: 600px;
}

.col-whole {
    background-color:#238b21 ;
    border: 1px dotted black;
    width: 70%;
    /* TEST */
    height: 2000px;  
}

.col-coral {
    background-color:#f08080 ;
    border: 1px dotted black;
    width: 25%;
    /* TEST */
    height: 1400px; 
}

.col-container-green {
    display: flex;
    width: 45%;
    background-color:#21b2a9;
}
.col-green {
    width: 25%;
    border: 1px dotted white;
    /* TEST */
    height: 1400px; 
}