/* RESET */
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:#add9e6 ;
}

/* COMMON */
.container {
    width: 70%;
    margin: auto;
}

/* HEADER */
.header-top {
    display:flex;
    background-color:#daa521 ;
    margin: 15px;
}

.logo,
nav,
.login {
    /* TEST */
    border: 1px dotted black;
    padding: 10px;
}

/* Logo */
.logo {
    width: 20%; 
}

/* Nav */
nav {
    width: 60%;

}

.menu {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.menu li {
    padding: 0 10px;
}

.menu li a {
    text-decoration: none;
    color: inherit;
}

/* Login */
.login {
    width: 20%;
    text-align: right;
}

.header-bottom {
    display:flex;
    background-color:#02008b ;
    /* TEST */
    height: 500px;
}

.jumbotron {
    width: 50%;
    margin:auto;
    border: 1px dotted black;
    background-color:#ee82ee ;
    height: 400px;
}
  
/* PAGE CENTRAL CONTENT */
.col-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: auto;
    width: 100%;
    /* TEST */
    height: 500px;
    
}

.col-large {
    width: 40%;
    background-color:#1d91ff ;
    border: 1px dotted black;
    /* TEST */
    height: 400px;
}

.col-tight {
    width: 20%;
    background-color: #FEC1CB;
    border: 1px dotted black;
    /* TEST */
    height: 400px;
}
